<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property scope="context" name="default.logger.name" value="dp-logger-default"/>
    <property scope="context" name="default.logger.formatted" value="false"/>

    <!--
        This appender wraps the original message in the dp-logging standards format ensuring consistency with our log
        output and that they play nice with the log aggregator.
    -->
    <appender name="THIRD_PARTY_TO_DP_LOGGING" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.v2.layout.ThirdPartyEventLayout">
                <Pattern>%n%msg</Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="DP_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="the-train" level="info" additivity="false">
        <appender-ref ref="DP_LOGGER"/>
    </logger>

    <root level="info">
        <appender-ref ref="THIRD_PARTY_TO_DP_LOGGING"/>
    </root>

</configuration>
