<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property scope="context" name="default.logger.name" value="the-train"/>
    <property scope="context" name="default.logger.formatted" value="false"/>

    <appender name="THIRD_PARTY_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.v2.layout.ThirdPartyEventLayout">
                <Pattern>%n%msg</Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="DP_LOG_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="the-train" level="info" additivity="false">
        <appender-ref ref="DP_LOG_APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="THIRD_PARTY_APPENDER"/>
    </root>

</configuration>
